<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732074930154-q4h3avqbs12u1hn5cdjup38as39mld4n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732074930154-q4h3avqbs12u1hn5cdjup38as39mld4n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>732074930154-di34tkeu3817r22uuc9f3innfirc1vpj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADYA5g5wUQeKlel5NjTzuWTMETn6wgEeg</string>
	<key>GCM_SENDER_ID</key>
	<string>732074930154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.mpei.mpeiapp</string>
	<key>PROJECT_ID</key>
	<string>mpeiapp-ba67a</string>
	<key>STORAGE_BUCKET</key>
	<string>mpeiapp-ba67a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732074930154:ios:f5371d973815b42e064c93</string>
	<key>DATABASE_URL</key>
	<string>https://mpeiapp-ba67a.firebaseio.com</string>
</dict>
</plist>